footer {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;


    ul {
        color: rgb(236, 186, 157);
        font-size: 20px;
        font-family: "ITCBlair";
        text-decoration: none;
        list-style-type: none;
        display: flex;
        padding: 0;
        animation: bourse linear normal running none 2000s infinite;
        position: absolute;
        top: -8px;
        bottom: 0;

        li {
            width: 2398px;
        }

        .inspiration {
            width: 1158px;
        }
    }

}

@keyframes bourse {
    from {

        transform: translate3d(0, 0, 0);
    }

    to {


        transform: translate3d(-100%, 0, 0);
    }
}

@media (max-width: 580px) {
    footer {
        height: 7vh;
    }

    ul {
        top: -12px;
    }
}