html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    font-size: 15vw;
    font-weight: 100;
    letter-spacing: 30px;
    flex-direction: column;
   
}


body {
    background-color: #000000;
  }
  
  a {
    font-size: 2vw;
  }
  
  .clip2 {
    background: linear-gradient(330deg, #f3cfb3, #00fff0, #ef3340);
    background: radial-gradient(circle, #f3cfb3, #000000, #97775e, #000000, #f3cfb3);
    
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    will-change: background-position;
    animation: animated-gradient 10s ease infinite;
   
  }
  
  @keyframes animated-gradient {
    0% {
      background-position: 0% 15%
    }
    50% {
      background-position: 100% 100%
    }
    100% {
      background-position: 0% 15%
    }
  }

  h1 {
    color: white;
    
    font-size: 15px;
    margin: 0px;
    
    margin-top: 2%;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  p {
    margin-left: 30px;
    
  }
  