#line {
    width: calc(100% - 20px);
    height: 1px;
    background-color: black;
    margin-top: 60px;
}

.linr {
    animation: linr 1s ease;
}




.head-container {
    margin-left: 20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .happy-container {
        width: 100%;
        display: flex;
        margin-bottom: 100px;

        div {
            width: 50%;
        }

        p {
            margin: 0;
            position: fixed;
        }
    }
}

.sub-baseline {
    margin: 0;
    margin-top: 15px;
}

h1 {
    font-family: "Inter";
    font-size: 83px;
    width: 62.5%;
    margin: 0;
    margin-left: -3px;
    letter-spacing: -0.08em;
    font-weight: 400;
    line-height: 1;
    animation: title 1s ease;
}



ul {
    li {
        animation: hue 1s ease;
    }
}




@media (max-width: 920px) {
    .head-container {
        margin-top: 100px;
        margin-left: 20px;

        .happy-container {

            p {
                position: absolute;
            }
        }
    }
}

@media (max-width: 580px) {
    .head-container {
        #line {
            margin-top: -30px;
        }

        h1 {
            font-size: 46px;
            width: 80%;
            margin-bottom: 130px;
        }

        .happy-container {
            margin-bottom: 50px;

            p {
                position: absolute;
            }
        }
    }

    #line {
        margin-top: 0px;
    }


}