html {
  background-color: white; }

::-moz-selection {
  background-color: black;
  color: white; }

::selection {
  background-color: black;
  color: white; }

a {
  color: black; }

body {
  width: 100%;
  margin: 0;
  padding: 0px;
  letter-spacing: -0.045em;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden; }
